
<html>
	<body>
		<h1>plansit</h1>
		<div>
			Welcome back, {{.Email}} 
			<div class="left">
				<a class="modalOpen" data-modalid="addPlace">quick add</a>
			</div>
		</div>

		<div>
			<h2>Trips <a class="modalOpen" data-modalid="addTrip">open</a></h2>
			{{range .Trips}}
			<div>
				<div>
					<h3 class="subHeader"><a href="/mapper?tripid={{.Id}}">{{.Name}}</a></h3>
					<label>{{.Description}}</label> 
					<a class="removeTrip" data-id="{{.Id}}" href="">X</a>
				</div>
				<ul data-tripid="{{.Id}}">
				{{range .Places}}
				<li>
					{{.Id}} {{.Placeid}} - {{.Notes}} - {{.Categories}}
					<a class="removePlace" data-id="{{.Id}}">X </a>
				</li>
				{{end}}
				</ul>
				<a href="/mapper?tripid={{.Id}}">Add a place!</a>
			{{end}}
		<div class="modal" data-id="addTrip">
			<h1>add a trip!</h1>
			<form action="trip/add" method="Post" id="tripAdd">
				<div>
					<label for="name">name</label>
					<input name="name" type="textbox"/>
				</div>
				<div>
					<label for="description">description</label>
					<input name="description" type="textbox"/>
				</div>
				<div>
					<label name="departure">departure</label>
					<input name="departure" type="textbox"/>
				</div>
				<div>
					<label for="length">how long</label>
					<input name="length" type="textbox"/>
				</div>
				<input type="submit" value="add trip"/>
			</form>
		<div class="modal" data-id="addPlace">
			<h1>add a place</h1>
			<form action="/place/add" id="placeAdd" method="Post">
				<div>
					<label for="tripid">Trip</label>
					<select name="tripid">
						{{range .Trips}}
						<option name="{{.Name}}" value="{{.Id}}">{{.Name}}</option>
						{{end}}
					</select>
				</div>
				<div>
					<label for="placeid">PlaceId</label>
					<input name="placeid" type="textbox"/>
				</div>
				<div>
					<label for="notes">Notes</label>
					<input name="notes" type="textbox"/>
				</div>
				<div>
					<label for="categories">Categories</label>
					<input name="categories" type="checkbox" value="dog park"/>dog park
					<input name="categories" type="checkbox" value="nail salon"/>nail salon
					<input name="categories" type="checkbox" value="club"/>club
					<input name="categories" type="checkbox" value="diner"/>diner
				<input type="submit" value="add place"/>
			</form>	
		</div>
	<script data-main="/static/scripts/main" src="/static/scripts/require.js"></script>
    <link rel="stylesheet" href="/static/scripts/jquery-ui/jquery-ui.min.css">
	<style>
		.subHeader{
			display:inline;
			padding:20px;
		}
		.modal{
			display:none;
		}
		.left{
			float:right;
		}
	</style>
	</body>
</html>