<!DOCTYPE html>
<html>
<head>
    <title>plansit</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/scripts/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="/static/scripts/myStyles.css">
    <script data-main="/static/scripts/map" src="/static/scripts/require.js"></script>
</head>
<body>
    <div id="loading" class="hidden" style="text-align: center" style="display: none;">
        <div id="loading-content">
            <img  id="loading-image" src="/static/images/loader.gif" alt="Loading..."/>
            <div style="margin-top: 10px; color: white">
                <b>Please Wait...</b>
            </div>
        </div>
    </div>
        <h1><a href="/">plansit</a></h1>
        <div class="tripHeader">
            <h2 id="tripHeader"></h2>
        </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box"></input>
    <div id="mapperButtons">
        <input id="toggleSavedMarkers" class="myButton" onclick="ToggleSavedMarkers()" type=button value="Show Saved"></input><input onclick="ClearMarkers();" class="myButton" type=button value="Clear"><input id="geoLocate" class="myButton" onclick="AttemptGeolocation()" type=button value="Find Me!"></input>
    </div>
    <div id="map-canvas"></div>

    <h2>Places</h2>
    <div id="places">
    </div>

    <h2>Saved Places</h2>
    <div id="savedPlaces">
    </div>

</body>
</html>
